<div class="row">
	
	<div class="col-lg-6 col-lg-offset-3">
	<form ng-submit="submit()">	
	<label for="city">Page Number</label>
		<input type="text" name="" class="form-control" placeholder="Enter the amount you want" id="city" ng-model="amount" >
		<br>
		<label for="city">Category</label>
		<input type="text" name="" class="form-control" placeholder="category you want bird or animal" id="city" ng-model="category" >
		<br>

		<button class="btn btn-info " type="submit" aria-hidden="true"> Get Images </button>
	</form>
	</div>
</div>